@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using BussinessObject.Models
@model UserProfileModel
<h1>User profile</h1>

<form class="form-control" asp-controller="User" asp-action="Update">

</form>