@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using BussinessObject.Models;
<h1>List All Products</h1>
<a class="btn btn-primary" asp-controller="SaleReport" asp-action="Index">Sale report</a>
<input class="form-controll" placeholder="search by name" type="text" id ="searchName" />
<a class="btn btn-primary" id ="searchBtnName">Search</a>
<br /><br />
<input class="form-controll" placeholder="price from" type="number" step ="any" id ="searchFromPrice" />
<input class="form-controll" type="number" placeholder="price to" step ="any" id ="searchToPrice" />
<a class="btn btn-primary" id ="searchBtnPrice">Search</a>
<br />
<br />
<div id="add-prod-button"></div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Category</th>
                <th scope ="col">Name</th>
                <th scope="col">UnitPrice</th>
                <th scope="col">UnitInstock</th>
                <th scope="col">Weight</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="productTable">
        </tbody>
    </table>
    <div class="modal fade"
         id="exampleModal"
         tabindex="-1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                        Add Product
                    </h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="add-prod-form">
                        <div id="category" class="mb-3">
                            <label for="category-name"
                                   class="col-form-label">Category:</label>
                            <select id="category-name"
                                    class="form-select"
                                    aria-label="Default select example">
                                <option selected>Category</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="product-name"
                                   class="col-form-label">Name:</label>
                            <input type="text"
                                   class="form-control"
                                   id="product-name" />
                        </div>
                        <div class="mb-3">
                            <label for="product-weight"
                                   class="col-form-label">Weight:</label>
                            <input type="number"
                                   class="form-control"
                                   id="product-weight" />
                        </div>
                        <div class="mb-3">
                            <label for="product-unit-price"
                                   class="col-form-label">Unit Price:</label>
                            <input type="number"
                                   class="form-control"
                                   id="product-unit-price"
                                   step="0.1" />
                        </div>
                        <div class="mb-3">
                            <label for="product-unit-in-stock"
                                   class="col-form-label">Unit In Stock:</label>
                            <input type="number"
                                   class="form-control"
                                   id="product-unit-in-stock" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Close
                    </button>
                    <button id="add-prod-btn"
                            type="button"
                            class="btn btn-primary">
                        Add
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div
				class="modal fade"
				id="updateProductModal"
				tabindex="-1"
				aria-labelledby="updateProductModalLabel"
				aria-hidden="true"
			>
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1
								class="modal-title fs-5"
								id="updateProductModalLabel"
							>
								Update Product
							</h1>
							<button
								type="button"
								class="btn-close"
								data-bs-dismiss="modal"
								aria-label="Close"
							></button>
						</div>
						<div class="modal-body">
							<form>
								<div id="category" class="mb-3">
									<label
										for="category-name-update"
										class="col-form-label"
										>Category:</label
									>
									<select disabled
										id="category-name-update"
										class="form-select"
										aria-label="Default select example"
									>
										<option selected>Category</option>
									</select>
								</div>
								<div class="mb-3">
									<label
										for="product-name-update"
										class="col-form-label"
										>Name:</label
									>
									<input
										type="text"
										class="form-control"
										id="product-name-update"
									/>
								</div>
								<div class="mb-3">
									<label
										for="product-weight-update"
										class="col-form-label"
										>Weight:</label
									>
									<input
										type="number"
										class="form-control"
										id="product-weight-update"
									/>
								</div>
								<div class="mb-3">
									<label
										for="product-unit-price-update"
										class="col-form-label"
										>Unit Price:</label
									>
									<input
										type="number"
										class="form-control"
										id="product-unit-price-update"
										step="0.1"
									/>
								</div>
								<div class="mb-3">
									<label
										for="product-unit-in-stock-update"
										class="col-form-label"
										>Unit In Stock:</label
									>
									<input
										type="number"
										class="form-control"
										id="product-unit-in-stock-update"
									/>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button
								type="button"
								class="btn btn-secondary"
								data-bs-dismiss="modal"
							>
								Close
							</button>
							<button
								id="update-prod-btn"
								type="button"
								class="btn btn-primary"
							>
								Save
							</button>
						</div>
					</div>
				</div>
			</div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/products/productmanager.js"></script>