@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model BussinessObject.Models.UserLoginModel

@{
    string email = Model != null ? Model.Email : "";
    string pass = Model != null ? Model.Password : "";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header">
                    <h4>Login</h4>
                </div>
                <div class="card-body">
                    <form asp-controller="Home" asp-action="Login">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input asp-for="Email" value="@email" required type="text" class="form-control" id="username" placeholder="Enter username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input asp-for="Password" value="@pass" required type="password" class="form-control" id="password" placeholder="Enter password">
                        </div>
                        <br />
                        <button type="submit" class="btn btn-primary">Login</button>
                        <br />
                        <br />
                        <p class="form-control">If you don't have account. Please <a asp-controller="Home" asp-action="Register">register.</a></p>
                        <br />
                        @{
                            if (ViewBag.ErrorMessage != null)
                            {
                                <span class="text-danger">@ViewBag.ErrorMessage</span>
                            }
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
