
<h1>Sale report</h1>

<form class="form form-control">
    <label>From date</label>
    <input class="form-control" id="fromDate" type="date" /> <br /><br />
    <label>To date</label>
    <input class="form-control" id="toDate" type="date" /><br /><br />
    <input type="submit" id="createReport" value="Create report" class="btn btn-primary" />
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Order Date</th>
            <th scope="col">Product Name</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody id="sale-report"></tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/salereport.js"></script>